@page
@model Chronicy.Website.Pages.Data.StatisticsModel
@{
    ViewData["Title"] = "Statistics";
}

@using Chronicy.Standard.Data.Statistics
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Chronicy.Website

    <div class="container">
        <div class="row">
            <chart type="Bar">Test</chart>
        </div>
    </div>