## Common Files
.DS_Store

## XCode

# Folders
macOS/DerivedData/
macOS/build/
macOS/xcuserdata/

Windows/Chronicy/.vs/
Windows/Chronicy/Chronicy.Service/bin/
Windows/Chronicy/Chronicy.Service/obj/
Windows/Chronicy/Chronicy.Excel/bin/
Windows/Chronicy/Chronicy.Excel/obj/

# Files
*.xccheckout
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
