## Common Files
.DS_Store

## Visual Studio ##

# Folders
Windows/Chronicy/.vs/
Windows/Chronicy/packages/

Windows/Chronicy/Chronicy/bin/
Windows/Chronicy/Chronicy/obj/

Windows/Chronicy/Chronicy.Standard/bin/
Windows/Chronicy/Chronicy.Standard/obj/

Windows/Chronicy/Chronicy.Service/bin/
Windows/Chronicy/Chronicy.Service/obj/

Windows/Chronicy/Chronicy.Excel/bin/
Windows/Chronicy/Chronicy.Excel/obj/

Windows/Chronicy/Chronicy.Web/bin/
Windows/Chronicy/Chronicy.Web/obj/
Windows/Chronicy/Chronicy.Web/appsettings.Database.json

Windows/Chronicy/Chronicy.Website/bin/
Windows/Chronicy/Chronicy.Website/obj/
Windows/Chronicy/Chronicy.Website/appsettings.Database.json

Windows/Chronicy/Chronicy.Tests/bin/
Windows/Chronicy/Chronicy.Tests/obj/

# Files
*.user

## XCode ##

# Folders
macOS/DerivedData/
macOS/build/
macOS/xcuserdata/
macOS/Chronicy.xcworkspace/xcuserdata/

# Files
*.xccheckout
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
