@page
@model Chronicy.Website.Pages.Data.Automation.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Action</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EditedAction.Name)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EditedAction.Action)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EditedAction.Triggers)
        </dt>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="EditedAction.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>