@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron text-center">
    <h1>Chronicy</h1>
    <p>Automate your productivity workflow</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Simple Model</h3>
            <p>Separate work and home using individual Notebooks</p>
            <p>Lay out your projects using Stacks</p>
            <p>Record your activity inside Cards</p>
        </div>
        <div class="col-sm-4">
            <h3>Automatic</h3>
            <p>Just enable the extension and let Chronicy automatically gather information about how productive you were</p>
            <p>Chronicy gathers all the information in real time</p>
        </div>
        <div class="col-sm-4">
            <h3>Versatile Storage</h3>
            <p>Chronicy offers both local and cloud storage</p>
            <p>Have your data available anywhere by using the Chronicy cloud service</p>
        </div>
    </div>
</div>
