@using Microsoft.AspNetCore.Identity
@using Chronicy.Website.Identity

@inject SignInManager<ChronicyUser> SignInManager
@inject UserManager<ChronicyUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a asp-page="/Notebooks/Index" class="nav-link text-dark"
               title="Notebooks">Notebooks</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Insights
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a asp-page="/Data/History" class="dropdown-item">History</a>
                <a asp-page="/Data/Automation/Index" class="dropdown-item">Automation</a>
                <a asp-page="/Data/Statistics" class="dropdown-item">Statistics</a>
            </div>
        </li>
    }
</ul>
