@page
@model Chronicy.Website.Pages.Notebooks.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EditedNotebook.Name)
        </dt>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.EditedNotebook.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>